{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Is it New Year?</title>
    <link href="{% static 'newyear/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    {% if newyear %}
    <h1>Yes! Today is new Year</h1>
    <h1>Happy New Year!</h1>
    {% else %}
    <h1>No! Today is not new Year</h1>
    <h1>Wait for it...</h1>
    <h1>Happy New Year in advance!</h1>
    {% endif %}
  </body>
</html>
